<div class="row">
	<div class="col-lg-8 offset-lg-2 mt-5">
		<h1 class="text-success">congrates! progress is key to success!</h1>
		<h1 class="mt-3 mb-5">Hey! <span class="fs-1 text-dark"><%= @current_user.first_name %></span> Let's start your HTML journey with us.</h1>
		<%= link_to 'Assesment of your course', test_questions_path, class: 'btn btn-primary btn-lg mt-5 mb-4' %>
		<div class="card shadow mb-3">
			<iframe src="https://www.youtube.com/embed/HcOc7P5BMi4?si=pLR4Eh-xGvU1g4sU" style="width:100%; min-height: 605px;"></iframe>
			<div class="card-body">
				<p class="lead mt-3 mb-3">
					Welcome to the world of HTML! With just one glance, you can embark on your journey into web development. Explore the fundamental structure of an HTML document and start crafting your own web pages effortlessly.<br>
		      In this snapshot, you'll find:
		      The essential elements of an HTML document
					How to create headings, paragraphs, and lists
					Understanding the basic layout of a webpage
					Get ready to unleash your creativity and dive into the endless possibilities of web design! Stay tuned for more insights and tips to level up your coding skills. Happy exploring!
				</p>
        <div class="text-center">
        	
				  <a class="btn btn-warning btn-lg mt-3" href="https://www.youtube.com/embed/HcOc7P5BMi4?si=pLR4Eh-xGvU1g4sU" target="_blank">Click Here</a>
        </div>
			</div>
		</div>
	</div>
</div>
