<div class="container mt-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Add New Syllabus</h2>
    </div>
    <div class="card-body">
      <%= render 'form', syllabus: @syllabus %>
    </div>
  </div>
</div>