<div class="container mt-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Add New Student</h2>
    </div>
    <div class="card-body">
      <%= render 'form', student: @student %>
    </div>
  </div>
</div>