<!-- About -->
<div id="about" class="section">
  <!-- container -->
  <div class="container shadow mb-5">
    <!-- row -->
    <div class="row mt-5 px-5">
      <div class="col-md-6">
        <div class="section-header mt-5 px-5">
          <h1>Welcome to <span style="color: #035096">Webimpact</span></h1>
          <p class="text-dark fs-4">
           At Webimpact, we're dedicated to empowering learners of all ages to reach their full potential.
          </p>
        </div>
    
        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-flask"></i>
          <div class="feature-content">
            <h3 style="color: #035096">Online Courses</h3>
            <p class="mb-5 fs-4 text-dark">Explore our comprehensive courses in, crafted to provide you with the skills you need to succeed in the digital age.</p>
          </div>
        </div>
        <!-- /feature -->
    
        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-users"></i>
          <div class="feature-content">
            <h3 style="color: #035096">Fun Learning</h3>
            <p class="mb-5 fs-4 text-dark">
              Learn from the best! ensuring you receive top-notch education and guidance.
            </p>
          </div>
        </div>
        <!-- /feature -->
    
        <!-- feature -->
        <div class="feature">
          <i class="feature-icon fa fa-comments"></i>
          <div class="feature-content">
            <h3 style="color: #035096">Community</h3>
            <p class="mb-5 fs-4 text-dark">
              Join our vibrant learning community and grow together as part of the Webimpact family.
            </p>
          </div>
        </div>
        <!-- /feature -->
      </div>
    
      <div class="col-md-6 mt-5 mb-5">
        <div class="about-img mt-5">
          <%= image_tag 'about' %>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
