<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">
          <i class="fa fa-home" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <%= link_to admin_students_path, class: 'nav-link' do %>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          Students
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_syllabuses_path, class: 'nav-link' do %>
          <i class="fa fa-book" aria-hidden="true"></i>
          Syllabus
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_blogs_path, class: 'nav-link' do %>
          <i class="fa fa-rss" aria-hidden="true"></i>
          Blogs
        <% end %>
      </li>
    </ul>
  </div>
</nav>
