<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h2>New Blog</h2>
    </div>    
    <div class="card-body">
      <%= render 'form', blog: @blog %>
    </div>
  </div>
</div>